#addBtn {
    color: rgb(250, 250, 250);
    background-color: green;
}

.intro {
    color: mediumblue;
    background-color: red;
    text-align: center;
}

#form {
    color: mediumblue;
    text-align: center;
}

#prompt{
    color: rgb(253, 143, 0);
    text-align: center;
    font-weight: bold;
}

#container {
    text-align: center;
    align-content: center;
}
